### Fasting time & Weight: Personal records from August 2019

In [61]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# Load your CSV data into a Pandas DataFrame
df = pd.read_csv('/home/turo/Downloads/data.csv', names=['time_delta', 'date_added', 'weight'])

In [62]:
df.head(5)

  time_delta           date_added  weight
0        NaN   7/30/2019 20:25:00    77.0
1        NaN  12/30/1899 15:25:00     NaN
2        NaN   7/30/2019 20:25:00     NaN
3   24:35:00                  NaN     NaN
4        NaN                  NaN     NaN

#### Detected Peculiarities in Visual Inspection

In [63]:
## Save this later. See how pd.to timedelta handles this 
df[df['date_added'].str.contains('11/30/2020', na=False)]

         time_delta          date_added  weight
491  -1059940:11:00  11/30/2020 7:32 PM     NaN

In [64]:
## Get Rid of that roew
df = df[~df['date_added'].str.contains("11/30/2020", na=False)]

In [65]:
# Get rid of this 12/30/1899 15:25:00	
df = df.drop(index=1)
df = df.reset_index(drop=True)
df.head(4)

  time_delta          date_added  weight
0        NaN  7/30/2019 20:25:00    77.0
1        NaN  7/30/2019 20:25:00     NaN
2   24:35:00                 NaN     NaN
3        NaN                 NaN     NaN

In [66]:
#  #ERROR!  11/21/2022 8:40 PM    NaN
#  #VALUE!  11/26/2022 7:17 PM    NaN
## ELimintae these as well. No weight or crucial data
# Filter out rows with '#ERROR!' and '#VALUE!' in 'time_delta' column
df = df[~df['time_delta'].isin(['#ERROR!', '#VALUE!'])]

In [67]:
df.shape

(1514, 3)

In [68]:
df.isna().sum()

time_delta     108
date_added      28
weight        1423
dtype: int64

In [69]:
df.count()

time_delta    1406
date_added    1486
weight          91
dtype: int64

In [70]:
# Fasting data was calculated not always - 24.00 means there was no calculation 
# handle these entries
count_24_hours = (df['time_delta'] == '24:00:00').sum()
print("Count of '24:00:00' entries in time_delta column:", count_24_hours)

Count of '24:00:00' entries in time_delta column: 338

In [71]:
df[df.time_delta == '24:00:00']

     time_delta          date_added  weight
8      24:00:00                 NaN     NaN
24     24:00:00           8/22/2019     NaN
25     24:00:00     8/23/2019 17:00     NaN
31     24:00:00  8/29/2019 11:58 PM     NaN
33     24:00:00   8/31/2019 4:20 PM     NaN
...         ...                 ...     ...
1505   24:00:00           8/22/2023     NaN
1506   24:00:00           8/23/2023     NaN
1507   24:00:00           8/24/2023     NaN
1508   24:00:00           8/25/2023     NaN
1509   24:00:00           8/26/2023     NaN

[338 rows x 3 columns]

In [72]:
df['time_delta'] = df['time_delta'].replace('24:00:00', '0')

In [73]:
df[df.time_delta == '24:00:00']

Empty DataFrame
Columns: [time_delta, date_added, weight]
Index: []

In [74]:
df[df.time_delta == '41']

    time_delta          date_added  weight
881         41  12/27/2021 5:49 PM     NaN

In [75]:
## This used to be 41
df.iloc[881]

time_delta                    41
date_added    12/27/2021 5:49 PM
weight                       NaN
Name: 881, dtype: object

##### NA or NAN Value cause a lot of trouble during export

In [76]:
df.isna().sum()

time_delta     108
date_added      28
weight        1423
dtype: int64

In [77]:
df.count()

time_delta    1406
date_added    1486
weight          91
dtype: int64

In [78]:
# Assuming new_df is your DataFrame containing the data
df['time_delta'] = df['time_delta'].fillna(0)
df.isna().sum()

time_delta       0
date_added      28
weight        1423
dtype: int64

In [79]:
df.count()

time_delta    1514
date_added    1486
weight          91
dtype: int64

#### Main Conversion and Handling of ['time_delta'] column

In [80]:
import pandas as pd

column_data_types = df.dtypes
print(column_data_types)

time_delta     object
date_added     object
weight        float64
dtype: object

In [81]:
df.head()

  time_delta          date_added  weight
0          0  7/30/2019 20:25:00    77.0
1          0  7/30/2019 20:25:00     NaN
2   24:35:00                 NaN     NaN
3          0                 NaN     NaN
4          0   2/8/2019 21:25:00     NaN

In [82]:
## This used to be 41
# df.iloc[881]
df.iloc[[881]]

    time_delta          date_added  weight
881         41  12/27/2021 5:49 PM     NaN

In [83]:
def convert_to_timedelta(value):
    if isinstance(value, str) and ':' in value:
        return pd.to_timedelta(value)
    elif isinstance(value, str) and value.isdigit():
        if value != '0':
            print(f"Found single number value: {value}")
        return pd.to_timedelta(f"{int(value)} hours")
    else:
        return pd.to_timedelta(value)

df['time_delta'] = df['time_delta'].apply(convert_to_timedelta)

Found single number value: 18
Found single number value: 12
Found single number value: 16
Found single number value: 18
Found single number value: 41

In [84]:
column_data_types = df.dtypes
print(column_data_types)

time_delta    timedelta64[ns]
date_added             object
weight                float64
dtype: object

In [85]:
## This used to be 41
df.iloc[[881]]

         time_delta          date_added  weight
881 1 days 17:00:00  12/27/2021 5:49 PM     NaN

#### time_delta needs to be in seconds otherwise causes an error in export

In [86]:

df['time_delta'] = df['time_delta'].dt.total_seconds().astype("Int64")

#### Main Conversion and Handling of ['date_added'] column

In [55]:
# No Hours and Miutes
df.iloc[[23]]

        time_delta date_added  weight
23 1 days 00:02:00  8/21/2019     NaN

In [56]:
# Hours Minutes Seconds
df.iloc[[0]]

  time_delta          date_added  weight
0     0 days  7/30/2019 20:25:00    77.0

In [28]:
# With Am or PM Values
df.iloc[[47]]

        time_delta         date_added  weight
47 0 days 05:40:00  9/14/2019 4:00 PM    78.8

In [87]:
# Fill NaN values in date_added with a placeholder that won't match the specified format
df['date_added'] = df['date_added'].fillna('0000/00/00 00:00:00')

# Define a mask to filter rows with the specified format ( 01/01/2022 12:34:56 )
mask = df['date_added'].str.match(r'\d{1,2}/\d{1,2}/\d{4} \d{1,2}:\d{2}:\d{2}')

# Convert only the rows that match the specified format
df.loc[mask, 'date_added'] = pd.to_datetime(df.loc[mask, 'date_added'], errors='coerce', format='%m/%d/%Y %H:%M:%S')

# Convert the remaining date strings to datetime - e.g. 9/14/2019 4:00 PM
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Format the datetime values as required for PostgreSQL
df['date_added'] = df['date_added'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [58]:
column_data_types = df.dtypes
print(column_data_types)

time_delta    timedelta64[ns]
date_added             object
weight                float64
dtype: object

In [50]:
df.head()

       time_delta           date_added  weight
0 0 days 00:00:00  2019-07-30 20:25:00    77.0
1 0 days 00:00:00  2019-07-30 20:25:00     NaN
2 1 days 00:35:00                  NaN     NaN
3 0 days 00:00:00                  NaN     NaN
4 0 days 00:00:00  2019-02-08 21:25:00     NaN

In [59]:
df[df['weight'] == 83.01]

          time_delta           date_added  weight
1282 0 days 21:12:00  2023-01-11 18:50:00   83.01

#### Handling of ['weight] column

In [54]:
# Replace NaN values with None for weight column
df['weight'] = df['weight'].where(~df['weight'].isna(), None)

### Export Data

In [184]:
############# We just check connection with DB here 

# Import necessary modules
from sqlalchemy import create_engine

# Replace with your actual database connection details
DATABASE_URL = 'postgresql://postgres:TraCak45T@localhost/flask'

# Create SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Check if the connection is valid
if engine.connect():
    print("Connection successful!")
else:
    print("Connection failed!")

from sqlalchemy import text

# Establish a connection
with engine.connect() as connection:
    # SQL query to select the first three rows from the eat table
    query = text("SELECT * FROM eat LIMIT 3")
    
    # Execute the query and fetch the results
    results = connection.execute(query).fetchall()

# Print the first three rows
for row in results:
    print(row)

Connection successful!
(1, 'Lucov Sou', 'None', datetime.timedelta(0), datetime.datetime(2024, 4, 19, 12, 54, 36, 134769, tzinfo=datetime.timezone(datetime.timedelta(seconds=14400))), 34.0)
(2, None, None, datetime.timedelta(0), datetime.datetime(2019, 7, 30, 20, 25, tzinfo=datetime.timezone(datetime.timedelta(seconds=14400))), 77.0)
(3, None, None, datetime.timedelta(0), datetime.datetime(2019, 7, 30, 20, 25, tzinfo=datetime.timezone(datetime.timedelta(seconds=14400))), 77.0)

In [56]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from app.models import eat  # Import your eat model
import pandas as pd  # Import pandas
from datetime import timedelta

# Assuming db_uri is the URI of your PostgreSQL database
db_uri = 'postgresql://postgres:TraCak45T@localhost/flask'

# Create SQLAlchemy engine and session
engine = create_engine(db_uri)
Session = sessionmaker(bind=engine)
session = Session()

# Iterate through each row of the DataFrame
for index, row in new_df.iterrows():
    # Replace NaN values with None for date_added column
    date_added = row['date_added'] if pd.notna(row['date_added']) else None
    
    # Convert time_delta to a valid interval value (0 seconds)
    time_delta = timedelta(seconds=int(row['time_delta']))
    
    # Export the row to the eat table
    eat_instance = eat(
        meal=None,  # Adjust as needed
        comment=None,  # Adjust as needed
        time_delta=time_delta,
        date_added=date_added,
        weight=row['weight']
    )
    session.add(eat_instance)

# Commit changes to the database
session.commit()